

body {
  background-color: var(--color--background);
  color: var(--color--foreground);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: 0.1rem solid red;
}

html {
  box-sizing: border-box;
  font-size: calc(var(--font-body--scale) * 62.5%);
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-size: var(--font-size);
  line-height: calc(1 + 0.8 / var(--font-body--scale));
  font-family: var(--font-body--family);
  font-style: var(--font-body--style);
  font-weight: var(--font-body--weight);

  @include mq($x-sm) {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

#MainContent {
  --content--transition: .5s;
  --content--width: var(--header--width--desktop);

  position: relative;
  min-height: 105vh;
  z-index: 1;
  filter: blur(0);
  padding-left: 0;
  will-change: filter, padding-left;
  transition: {
    property: filter, padding-left;
    duration: var(--content--transition);
    timing-function: ease-out;
  }

  body.header-menu-is-open & {
    --content--transition: .85s;
    filter: blur(10px);
  }

  @include mq($x-sm-up) {
    padding-left: var(--content--width);
    --content--width: var(--header--width);
  }

  @include mq($sm-md) {
    // --content--width: var(--header--width--mobile);
  }

  @include mq($sm) {
    // --content--width: var(--header--width--tablet);
  }
}

.overlay {
  display: block;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;


  &--link {
    @extend .overlay;
    z-index: 2;
  }
}

.page,
.section {
  --page--padding: var(--global--mobile--spacing-sections);
  --cta--padding-top: var(--cta-set--padding-top,var(--page--padding));
  --cta--padding-bottom: var(--cta-set--padding-bottom,var(--page--padding));
  padding: var(--cta--padding-top) 0 var(--cta--padding-bottom);
  background: var(--color--background);

  @include mq($md-up) {
    --page--padding: var(--global--spacing-sections);
  }
}