

#MainContent {
  --content--transition: .35s;
  --content--width: var(--header--width--desktop);

  position: relative;
  z-index: 1;
  padding-left: var(--content--width);
  filter: blur(0);
  will-change: filter;
  transition: filter var(--content--transition) ease-out;

  body.header-menu-is-open & {
    --content--transition: .85s;
    filter: blur(4px);
  }

  @include mq($sm) {
    --content--width: var(--header--width--mobile);
  }
}





.overlay {
  display: block;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;

  &.overlay-link {
    z-index: 2;
  }
}

.page,
.section {
  --page--padding: var(--base-gutter);
  padding: var(--page--padding) 0;

  @include mq($md-up) {
    --page--padding: var(--base-gutter--double);
  }
}