
:root {
  --page-width                      : 1600px;
  --page-width--text                : 90ch;

  --global--spacing-sections        : var(--sp--2);

  // Only for setting via CMS
  // --global--grid-horizontal         : 30px;
  // --global--grid-vertical           : 30px;
  // Only for setting via CMS

  --global--mobile--spacing-sections: var(--sp--4);
  --global--mobile--grid-horizontal : var(--sp--1-2);
  --global--mobile--grid-vertical   : var(--sp--1-2);

  --page-width--padding: var(--sp--2-3);

  @include mq($md-up) {
    --page-width--padding: var(--sp);
    --page--padding: var(--global--spacing-sections);
  }

  @include mq($lg-up) {
    --page-width--padding: var(--sp--2);
  }
}

:root {
  --header--width--mobile           : 70px;
  --header--width--tablet           : 90px;
  --header--width--desktop          : 125px;

  --header--width--open             : min(400px,100vw);

  --header--width                   : var(--header--width--mobile);

  @include mq($md-up) {
    --header--width                 : var(--header--width--tablet);
  }
  @include mq($lg-up) {
    --header--width                 : var(--header--width--desktop);
  }
}

:root {
  --duration-short                  : 100ms;
  --duration-default                : 200ms;
  --duration-announcement-bar       : 250ms;
  --duration-medium                 : 300ms;
  --duration-long                   : 500ms;
  --duration-extra-long             : 600ms;
  --duration-extended               : 3s;
  --ease-out-slow                   : cubic-bezier(0, 0, 0.3, 1);
  --animation-slide-in              : slideIn var(--duration-extra-long) var(--ease-out-slow) forwards;
  --animation-fade-in               : fadeIn var(--duration-extra-long) var(--ease-out-slow);
}


