@font-face {
  font-family: 'Butler';
  src: url('/uploads/fonts/Butler_Regular.otf') format("opentype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Butler';
  src: url('/uploads/fonts/Butler_Medium.otf') format("opentype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Butler';
  src: url('/uploads/fonts/Butler_Bold.otf') format("opentype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Butler';
  src: url('/uploads/fonts/Butler_Black.otf') format("opentype");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('/uploads/fonts/Oswald-VariableFont_wght.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/uploads/fonts/Quicksand-VariableFont_wght.ttf') format("truetype");
  font-display: swap;
}
