
@import url("https://use.typekit.net/akz3yrt.css");

// @font-face {
//   font-family: 'Butler';
//   src: 
//     url('/fonts/Butler_Regular.otf') format('opentype'),
//     url('/fonts/Butler_Medium.otf') format('opentype'),
//     url('/fonts/Butler_Bold.otf') format('opentype'),
//     url('/fonts/Butler_Black.otf') format('opentype');
//   font-display: swap;
// }

@font-face {
  font-family: 'Butler';
  src: url('/fonts/Butler_Regular.otf') format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Butler';
  src: url('/fonts/Butler_Medium.otf') format("opentype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Butler';
  src: url('/fonts/Butler_Bold.otf') format("opentype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Butler';
  src: url('/fonts/Butler_Black.otf') format("opentype");
  font-weight: 900;
  font-display: swap;
}

:root {
  --font--butler                    : Butler, Georgia, serif;
  --font--neuzeit                   : neuzeit-grotesk, sans-serif;
  --font--neuzeit-cond              : neuzeit-grotesk-condensed, sans-serif;
  --font--new-order                 : "new-order", sans-serif;
  --font--noka                      : "noka", sans-serif;
  --font--gastromond                : "gastromond", sans-serif;
}

:root {
  --font-body--scale                : 1.0;
  --font-body--family               : var(--font--new-order);
  --font-body--weight               : 500;
  --font-body--weight-bold          : 700;
  --font-body--style                : normal;

  --font-heading--scale             : 1.0;
  --font-heading--family            : var(--font--gastromond); 
  --font-heading--style             : normal;
  --font-heading--weight            : 400;

  --font-logo--family               : var(--font--neuzeit);
  --font-logo--weight               : 400;
}

:root {
  --theme--font-size--xlg           : calc(var(--font-heading--scale) * 5rem);
  --theme--font-size--h0            : calc(var(--font-heading--scale) * 4rem);
  --theme--font-size--h1            : calc(var(--font-heading--scale) * 3rem);
  --theme--font-size--h2            : calc(var(--font-heading--scale) * 2rem);
  --theme--font-size--h3            : calc(var(--font-heading--scale) * 1.7rem);
  --theme--font-size--h4            : calc(var(--font-heading--scale) * 1.5rem);
  --theme--font-size--h5            : calc(var(--font-heading--scale) * 1.2rem);
  --theme--font-size--h6            : calc(var(--font-heading--scale) * 1rem);
  --theme--font-size--rte           : 1.5rem;

  // theme default
  --font-size                       : var(--theme--font-size--rte);

  @include mq($x-lg-up) {
    --theme--font-size--xlg         : calc(var(--font-heading--scale) * 6.2rem);
    --theme--font-size--h0          : calc(var(--font-heading--scale) * 5.2rem);
    --theme--font-size--h1          : calc(var(--font-heading--scale) * 4rem);
    --theme--font-size--h2          : calc(var(--font-heading--scale) * 2.4rem);
    --theme--font-size--h3          : calc(var(--font-heading--scale) * 1.8rem);
    --theme--font-size--h5          : calc(var(--font-heading--scale) * 1.3rem);
    --theme--font-size--rte         : 1.6rem;
  }
}
