


// 
// pixel to em mixin
// num AND base size must be a value with no unit (px,em, vh,etc)
//     ===
@function em($num) {
  $result: calc(((#{$num}) / (var(--font-size-base))) * 1em);
  @return $result;
}




/*================ Responsive Show/Hide Helper ================*/
@mixin responsive-display-helper($grid-breakpoint-type: '') {
  // sass-lint:disable no-important
  .cell,
  .cell_no_margin,
  :root,
  :after, 
  :before {
    --grid--neg: calc(var(--grid) * -1);
  }
  .#{$grid-breakpoint-type}show {
    display: block !important;
  }

  .#{$grid-breakpoint-type}hide {
    display: none !important;
  }
}


/*================ Responsive Text Alignment Helper ================*/
@mixin responsive-text-align-helper($grid-breakpoint-type: '') {
  // sass-lint:disable no-important
  .#{$grid-breakpoint-type}text-left {
    text-align: left;
  }

  .#{$grid-breakpoint-type}text-right {
    text-align: right;
  }

  .#{$grid-breakpoint-type}text-center {
    text-align: center;
  }
}

@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  // sass-lint:disable no-misspelled-properties
  *zoom: 1;
}




/*============================================================================
  Grid Setup
    1. Allow the grid system to be used on lists.
    2. Remove any margins and paddings that might affect the grid system.
    3. Apply a negative `margin-left` to negate the columns' gutters.
==============================================================================*/

// Allows a repetion of the base grid settings
%grid-vars {
  --sp                        : var(--global--grid-horizontal,30px);
  
  --sp--1p5                   : calc( var(--sp) * 1.5 );
  --sp--2                     : calc( var(--sp) * 2 );
  --sp--3                     : calc( var(--sp) * 3 );
  --sp--4                     : calc( var(--sp) * 4 );
  --sp--6                     : calc( var(--sp) * 6 );
  --sp--8                     : calc( var(--sp) * 8 );

  --sp--1-2                   : calc( var(--sp) / 2 );
  --sp--1-3                   : calc( var(--sp) / 3 );
  --sp--2-3                   : calc( var(--sp) * .6666667 );
  --sp--1-4                   : calc( var(--sp) / 4 );
  --sp--1-8                   : calc( var(--sp) / 8 );

  --grid                      : var(--sp);
  --grid--mobile              : var(--global--mobile--grid-horizontal,var(--sp--1-2));
  --grid--neg                 : calc(var(--grid) * -1);

  --grid-bottom               : var(--global--grid-vertical,var(--sp));
  --grid-bottom--neg          : calc(var(--grid-bottom) * -1);

  --grid-bottom--mobile       : var(--global--mobile--grid-horizontal,var(--sp--1-2));
  --grid-bottom--mobile--neg  : calc(var(--grid-bottom--mobile) * -1);
}


// Gives access to whole site
.cell,
.cell_no_margin,
:root,
:after, 
:before {
  @extend %grid-vars;
}


.cell {

  // @include clearfix();
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: var(--grid--neg);
  font-size:0;
  letter-spacing: 0;
  @include mq($sm) {
    --grid: var(--grid--mobile);
    --grid-bottom: var(--grid-bottom--mobile);
  }
  &:not(.no_gutter) > .cell__item {
    padding-left: var(--grid);
    &[class*="--push"] {
      position: relative;
    }
  }

  &.match-height,
  &--match-height {
    display: flex;
    flex-wrap: wrap;

    .cell__item {
      display: inline-flex;
      flex-direction: column;
      align-self: unset; // required for heights

      > * { // should be only direct child
        // display: flex;
        // flex-direction: column;
        display: grid; // is this needed? used to center items
        height: 100%;
        width: 100%;
      }
    }
  } 
}
.cell.no_gutter,
.cell_no_gutter {
  // @include clearfix();
  list-style: none;
  margin: 0;
  padding: 0;
  font-size:0;
  & > .cell__item {
    display:inline-block;
    font-size:16px;
    font-size: var(--theme--font-size--rte);
    
  }
}

.cell__item {
  --width-raw: 100; // fallback if no width class applied for current media query

  --page-width--padding: var(--sp--2-3);

  --page-width--with-padding: (var(--page-width,1600px) - (var(--page-width--padding) * 2));
  
  --vw-max: min(100vw, var(--page-width--with-padding));
  --vw-perc: (var(--width-raw) * 0.01);
  --vw-offset: var(--grid);

  --width-vw: calc((var(--vw-max) * var(--vw-perc)) - var(--vw-offset)); 
  --width-vw: (var(--vw-max) * var(--vw-perc) - var(--vw-offset)); 
  --width: calc(var(--width-raw) * 1%);

  width: 100%;
  display:inline-block;
  font-size:16px;
  font-size: var(--theme--font-size--rte);
  width: var(--width);
  // width: var(--width-vw);

  &[class*="--push"] {
    position: relative;
  }
  @include mq($md-up) {
    --page-width--padding: var(--sp);
  }
}

.cell,
.cell_no_gutter {
  & > .cell__item {
    vertical-align: top;
  }
  &.vert-top {
    & > .cell__item {
      vertical-align: top;
    }
  }
  &.vert-mid,
  &.vert-middle {
    & > .cell__item {
      vertical-align: middle;
    }
  }
  &.vert-bot,
  &.vert-bottom {
    & > .cell__item {
      vertical-align: bottom;
    }
  }

  &.half_gutter {
    --grid: var(--sp--1-2);
  }
  &.double_gutter {
    --grid: var(--sp--2);
  }

}

.cell:not(.no_gutter) {
  margin-bottom: var(--grid-bottom--neg);

  &.double-bottom {
    --grid-bottom: var(--global--grid-vertical,var(--sp--2)); 
  }

  &.sm--double-bottom {
    --grid-bottom--mobile: var(--global--grid-vertical,var(--sp)); 
  }

  & > .cell__item {
    margin-bottom: var(--grid-bottom);
  }
}

/*============================================================================
    Reversed grids allow you to structure your source in the opposite
    order to how your rendered layout will appear.
==============================================================================*/
.cell--rev {
  direction: rtl;
  text-align: left;

  > .cell__item {
    direction: ltr;
    text-align: left;
    float: right;
  }
}

.page-width {
  width: 100%;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: {
    left: var(--page-width--padding);
    right: var(--page-width--padding);
  }

  &.no-padding {  
    padding: 0;
  }
  
  &.page-width--narrow {
    max-width: var(--page-width--text);
  }
}



/*============================================================================
  Grid Columns
    - Create width classes, prepended by the breakpoint name.
==============================================================================*/
// sass-lint:disable brace-style empty-line-between-blocks
@mixin grid-column-generator($grid-breakpoint-type: '') {
  // These round the numbers
  $multiply: 100;

  .#{$grid-breakpoint-type}w-5    { $width: (5 / 100) * $multiply; --width-raw: #{$width};  }
  .#{$grid-breakpoint-type}w-10   { $width: (10 / 100) * $multiply; --width-raw: #{$width};  }
  // One Eighth
  .#{$grid-breakpoint-type}w-12   { $width: (1 / 8) * $multiply; --width-raw: #{$width};  }
  .#{$grid-breakpoint-type}w-15   { $width: (15 / 100) * $multiply; --width-raw: #{$width};  }
  // One Sixth
  .#{$grid-breakpoint-type}w-16   { $width: (1 / 6) * $multiply; --width-raw: #{$width};  }
  .#{$grid-breakpoint-type}w-20   { $width: (20 / 100) * $multiply; --width-raw: #{$width};  }
  .#{$grid-breakpoint-type}w-25   { $width: (25 / 100) * $multiply; --width-raw: #{$width};  }
  .#{$grid-breakpoint-type}w-30   { $width: (30 / 100) * $multiply; --width-raw: #{$width};  }
  // Third
  .#{$grid-breakpoint-type}w-33   { $width: (1 / 3) * $multiply; --width-raw: #{$width};  }
  .#{$grid-breakpoint-type}w-35   { $width: (35 / 100) * $multiply; --width-raw: #{$width};  }
  .#{$grid-breakpoint-type}w-40   { $width: (40 / 100) * $multiply; --width-raw: #{$width};  }
  .#{$grid-breakpoint-type}w-45   { $width: (45 / 100) * $multiply; --width-raw: #{$width};  }
  // Half
  .#{$grid-breakpoint-type}w-50   { $width: (50 / 100) * $multiply; --width-raw: #{$width};  }
  .#{$grid-breakpoint-type}w-55   { $width: (55 / 100) * $multiply; --width-raw: #{$width};  }
  .#{$grid-breakpoint-type}w-60   { $width: (60 / 100) * $multiply; --width-raw: #{$width};  }
  .#{$grid-breakpoint-type}w-65   { $width: (60 / 100) * $multiply; --width-raw: #{$width};  }
  // Two Thirds
  .#{$grid-breakpoint-type}w-66   { $width: (2 / 3) * $multiply; --width-raw: #{$width};  }
  .#{$grid-breakpoint-type}w-70   { $width: (70 / 100) * $multiply; --width-raw: #{$width};  }
  .#{$grid-breakpoint-type}w-75   { $width: (70 / 100) * $multiply; --width-raw: #{$width};  }
  .#{$grid-breakpoint-type}w-80   { $width: (80 / 100) * $multiply; --width-raw: #{$width};  }
  .#{$grid-breakpoint-type}w-85   { $width: (85 / 100) * $multiply; --width-raw: #{$width};  }
  .#{$grid-breakpoint-type}w-90   { $width: (90 / 100) * $multiply; --width-raw: #{$width};  }
  .#{$grid-breakpoint-type}w-95   { $width: (95 / 100) * $multiply; --width-raw: #{$width};  }
  .#{$grid-breakpoint-type}w-100  { $width: (100 / 100) * $multiply; --width-raw: #{$width};  }
}

/*================ Build Base Grid Classes ================*/
@include grid-column-generator();
@include responsive-display-helper();
@include responsive-text-align-helper();

/*================ Build Responsive Grid Classes ================*/
@each $breakpoint in $grid-breakpoint-has-widths {
  @include mq($breakpoint) {
    @include grid-column-generator('#{$breakpoint}--');
    @include responsive-display-helper('#{$breakpoint}--');
    @include responsive-text-align-helper('#{$breakpoint}--');
  }
}

