// @import './utils/mixins';

// @import './base/reset';
// @import './base/typography';


// @import './components/rte';
// @import './components/button';

// @import './layouts/header';
// @import './layouts/footer';



body {
  background: red;
  background: blue;
}

main {
  background: yellow;
}